{% extends 'core/base.html' %}
{% block content %}
  <div class="container d-flex flex-column align-items-center">
      <h1> Список дел {{color}}</h1>
      <div class="card-list">
          {% for todo in todos %}
              <div class="card" onclick="location.href='{% url 'core:doing_update' todo.pk%}';">
  <div class="card-body">
    <span>{{ forloop.counter }}</span>

    <input type="checkbox" class="form-check-input" value="" disabled {% if todo.completed %}checked{% endif %}>
    <span>{{todo.name}}</span>
      <span class="delete-button"><a href="{% url 'core:doing_delete' todo.pk %}">{% include 'core/delete_button.html' %}</a></span>

  </div>
</div>

  {% empty %}
  <h4> Список дел пуст</h4>
  {% endfor %}
      </div>
  </div>

{% endblock %}